@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Jost", sans-serif;
    height: 100% !important;
}

.nav-links li a{
    text-decoration: none !important;
    color: black !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.custom-toggler:focus{
    border: none !important; 
    outline: none !important;
    box-shadow: none !important;
}

.navlink li a .loginstyle{
    text-decoration: none !important;
    color: black !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.loginstyle{
    background: #9a7af1 !important;
    padding: 10px 20px !important;
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-size: 18px !important;
    margin: 0px 0px 0px 20px !important;
    cursor: pointer !important;
}
.loginstyle:hover{
    background: #5333ac !important;
}


.xyz-style{
    color: #EE9AE5 !important;
    font-size: 20px !important;
    font-family: "Jost", sans-serif;
    font-weight: 500;
}
a{
    text-decoration: none !important;
}
.lagicon{
    text-decoration: none !important;
    color: black !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    cursor: pointer !important;
}
.lagicon:hover{
    color: #5333ac !important;
}
.custom-toggler.navbar-toggler {
    border: none !important; 
}
.card-style{
    border: none !important;
    border-radius: 24px 24px  60px 24px !important;
    background: linear-gradient(99deg, #ee9ae5 0%, #5961f9 100%) !important;
    padding: 40px !important;
    color: #fff !important;
    align-items: center !important;
    justify-content: center;
   
    
}

.border{
    border-radius: 20px !important;

}

/* Hero style */
.about-hero{
    margin-top: 100px !important;
    font-family: "Jost", sans-serif !important;
    margin-bottom: 100px !important;
}

.abthero-btn{
    background: #9a7af1 !important;
    padding: 10px 20px !important;
    border: none !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    cursor: pointer !important;
    font-family: "Jost", sans-serif !important;
}
.mvv{
    color: #010851 !important;
}

/* about style */
.about-text{
    font-family:  "Jost", sans-serif !important;
    font-weight: 400 !important;
    text-align: start !important;
}
.about-btn{
    background: #9a7af1 !important;
    padding: 10px 20px !important;
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 4px !important;
    font-size: 16px !important;
    cursor: pointer !important;
    font-family: "Jost", sans-serif !important;
    font-weight: 600 !important;
}
.about-btn:hover{
    background: #5333ac !important;
}

.about-first-text{
    font-size: 28px !important; 
    font-weight: 700 !important; 
    line-height: 28px !important; 
    color: #010851 !important;
}
.about{
    margin-bottom: 100px !important;
}
.about-2{
    margin-bottom: 100px !important;
}



/* footer style */

.footxyz{
    color: #EE9AE5 !important;
    font-size: 20px !important;
    font-family: "Jost", sans-serif !important;
    font-weight: 500 !important;
}
hr.footer-line{
    border-top: 2px solid white;
}
.social-icon{
    width: 30px !important;
}
footer .container-fluid .row .col-lg-6 .input-group{
    width: 50% !important;

}
 footer .container-fluid .row .col-lg-6 .input-group ::placeholder {
        color: #fff !important;
 }
 footer .container-fluid .row .col-lg-6 .input-group .btn {
     background: #6c63ff !important;
    color: #fff !important;
}
footer .container-fluid .row .col-lg-6 .input-group .btn:hover {
    background: #fff !important;
   color: #010851 !important;
}
.reading-imag{
    width: 40% !important;
}
.universe-imag{
    width: 50% !important;
}
@media (min-width: 1024px) {
    .nav-links{
        display: flex !important;
        align-items: center !important;
        gap: 30px !important;
        margin: 0px 0px 0px 30px !important;
    }
    .nav-link:hover {
        color: #ee9ae5 !important;
    }
    .universe-imag{
        margin-left: auto !important;
    }
}
@media (max-width: 768px) {
    .navbar-collapse{
     background: linear-gradient(99deg, #ee9ae5 0%, #5961f9 100%) !important;
     padding: 10px 10px 30px 20px!important;
     max-width: 100% !important;
     margin: 0px !important;
     max-height: 100vh !important;
    }
    .lagicon{
        text-decoration: none !important;
        color: #fff !important;
        font-size: 18px !important;
        font-weight: 600 !important;
    }
    
    .nav-links li a{
        text-decoration: none !important;
        color: #fff !important;
        font-size: 18px !important;
        font-weight: 600 !important;
    }
    .loginstyle{
        background: #9a7af1 !important;
        padding: 10px 20px !important;
        text-decoration: none !important;
        color: #fff !important;
        border-radius: 4px !important;
        font-size: 18px !important;
        margin: 40px 0px 0px 0px !important;
    } 
    .navlink li .lagicon{
        text-decoration: none !important;
        color: #fff !important;
        font-size: 18px !important;
        font-weight: 600 !important;
    }
    .navlink li a .loginstyle{
        text-decoration: none !important;
        color: #fff !important;
        font-size: 18px !important;
        font-weight: 600 !important;
    }
    footer .container-fluid .row .col-lg-6 .input-group{
        width: 100% !important;
    }
    .first-list, .second-list, .third-list{
        margin-top: 55px !important;
    }
    .about-card{
        text-align: center !important;
    }
    .mvv{
        text-align: start !important;
    }
    .about-card{
        text-align: start !important;
    }
    .about-first-text{
        margin-top: 50px !important;
        line-height: 42px !important;
    }
  
    .reading-imag{
        width: 100% !important;
    }
    .universe-imag{
        width: 100% !important;
    }
    .image-style{
        order: -1 !important;
    }
    .box{
        padding: 0 !important;
    }
}